.header {
    grid-area: h;
    background-color: rgb(233, 203, 147);
    /* width: 1fr; */
    /* height: fit-content; */
}

.header > img {
  max-width: 100px;
  /* left: 0;
  top: 0; */
  /* background-size: cover;
  position: relative;
  justify-content: center; */
  align-items: center;
  display: flex;
}
