ul {
  list-style: none;
}

a {
  text-decoration: none;
}

a:visited {
  color: black;
}

/* a:link {
    color: skyblue;
} */

a:hover {
  color: white;
}

a:active {
  color: violet;
}

.item.active {
  background-color: rgb(255, 211, 129);
  width: 80%;
}

.nav {
  grid-area: n;
  background-color: rgb(230, 189, 115);
  padding: 10px;
  font-size: 36px;
  color: darkturquoise;
}
