.app-wrapper {
  display: grid;
  grid-template-columns: 1fr 11fr;
  grid-gap: 16px;
  grid-template-areas:
    "h h"
    "n c";
  padding: 35px;
  font-size: 30px;
  background-color: wheat;
}

header img {
    width: 180px;;
    border-radius: 90px;
}

.app-wrapper-content {
  grid-area: c;
  background-color: rgb(253, 236, 207);
  padding: 20px;
}
